<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Biblioteca</title>
</head>
<body>
   <header>
     <nav class="nav-bar">
        <div class="links">
            <a href="#">Home</a>
            <a href="/sobre">Sobre esta API</a>
        </div>
     </nav>
   </header>
    <div id="conteudo">
        <h1>Bem vindo a minha API de Biblioteca</h1>
        <h2>Esta é a pagina principal da minha API</h2>
        <p>Observação: Estou criando essa api basica para adquirir conhecimento em python e flask, estou unindo o util ao agradavel, pois estou colocando em uma possivel pratica do mundo real com os conteudos que estou aprendendo dentro da minha faculdade de Engenharia da Computação!</p>
    </div>
</body>
</html>